:root {
    --click-duration: 150ms;
    --click-easing: ease;
}

.btn--icon {
    display: inline-grid;
    place-items: center;
    padding: 0.75rem;
    cursor: pointer;
    transition-property: scale, --press;
    transition-duration: var(--click-duration);
    transition-timing-function: var(--click-easing);
    border-radius: 50%;
}

.btn--icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

.btn--icon:hover {
    scale: 1.1;
}

.btn--icon:active {
    scale: 0.9;
}

.btn--icon--dual svg:last-child {
    display: none;
}

html.dark-theme .btn--icon--dual svg:first-child {
    display: none;
}

html.dark-theme .btn--icon--dual svg:last-child {
    display: block;
}

.btn--photo {
    transition-property: scale, --press;
    transition-duration: var(--click-duration);
    transition-timing-function: var(--click-easing);
    cursor: pointer;
}

.btn--photo:hover,
.btn--photo:active {
    scale: 0.9;
}

.btn--neu:active {
    --press: 1;
}






