:root {
    --click-duration: 200ms;
    --click-easing: ease;
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
}

.btn--icon {
    display: inline-grid;
    place-items: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: scale var(--click-duration) var(--click-easing);
}

.btn--icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.btn--icon:hover {
    scale: 1.2;
}

.btn--icon:active {
    scale: 0.8;
}

.btn--icon--dual svg:last-child {
    display: none;
}

.dark-theme .btn--icon--dual svg:first-child {
    display: none;
}

.dark-theme .btn--icon--dual svg:last-child {
    display: block;
}

.btn--photo {
    transition: scale var(--click-duration) var(--click-easing);
    cursor: pointer;
}

.btn--photo:hover,
.btn--photo:active {
    scale: 0.9;
}









