:root {
    /* color palette*/
    --light: #edf0f3;
    --dark: #303135;

    --text-color: var(--dark);
    --background-color: var(--light);

    /* animation: transition the color properties themselves */
    --color-duration: 300ms;
    --color-easing: ease;
    transition: --text-color var(--color-duration) var(--color-easing),
                --background-color var(--color-duration) var(--color-easing);
}

/* @property makes these custom properties interpolatable */
/* you can't use var() for initial-value, so we set it to any value here and then in :root we set the actual initial values */

@property --text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --background-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

html.dark-theme {
    --text-color: var(--light);
    --background-color: var(--dark);
}

html, dialog {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
}















