:root {
    /* color palette*/

    /* dark colors */
    --indigo: rgb(60 43 88);
    --purple: rgb(100 73 120);
    --pink: rgb(159 94 124);

    /* light colors */
    --red: rgb(184 78 80);
    --orange: rgb(235, 145, 87);
    --yellow: rgb(244 207 98);

    --primary-dark-color: var(--red);
    --primary-medium-color: var(--orange);
    --primary-light-color: var(--yellow);

    --secondary-dark-color: var(--indigo);
    --secondary-medium-color: var(--purple);
    --secondary-light-color: var(--pink);

    --primary-text-color: var(--indigo);

    /* gradients */
    --gradient: linear-gradient(0deg, var(--primary-dark-color), var(--primary-medium-color), var(--primary-light-color));

    /* animation */
    --gradient-duration: 300ms;
    --gradient-easing: ease;
    transition: --primary-dark-color var(--gradient-duration) var(--gradient-easing),
                --primary-medium-color var(--gradient-duration) var(--gradient-easing),
                --primary-light-color var(--gradient-duration) var(--gradient-easing),
                --secondary-dark-color var(--gradient-duration) var(--gradient-easing),
                --secondary-medium-color var(--gradient-duration) var(--gradient-easing),
                --secondary-light-color var(--gradient-duration) var(--gradient-easing);

    background-image: var(--gradient);
}

/* @property makes these custom properties interpolatable */
/* you can't use var() for initial-value, so we set it to any value here and then in :root we set the actual initial values */

@property --primary-dark-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --primary-medium-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --primary-light-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --secondary-dark-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --secondary-medium-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --secondary-light-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

.dark-theme {
    --primary-dark-color: var(--indigo);
    --primary-medium-color: var(--purple);
    --primary-light-color: var(--pink);
    --secondary-dark-color: var(--red);
    --secondary-medium-color: var(--orange);
    --secondary-light-color: var(--yellow);

    --primary-text-color: var(--yellow);
}

.page {
    background-color: var(--primary-medium-color);
}

body {
    color: var(--primary-text-color);
    transition: color var(--gradient-duration) var(--gradient-easing);
}













