:root {
    --dialog-animation-duration: 300ms;
    --dialog-animation-easing: ease;

    --photo-border-radius: 20px;
    --photo-border-size: 10px;

}

/*
    .photo-group
            .photo-container
                    .photo-thumbnail
            .photo-dialog
                    .photo-full
*/

.photo-group {
    anchor-scope: --a;
}

.photo-container {
    anchor-name: --a;
    display: grid;
    border-radius: var(--photo-border-radius);
    padding: var(--photo-border-size);
}

.photo-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: calc(var(--photo-border-radius) - var(--photo-border-size));
}

.photo-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition-property: border-radius;
    transition-duration: var(--dialog-animation-duration);
    transition-easing: var(--dialog-animation-easing);
    border-radius: calc(var(--photo-border-radius) - var(--photo-border-size));
}

.photo-dialog[open] .photo-full {
    border-radius: calc((var(--photo-border-radius) - var(--photo-border-size)) * 2);
}

.photo-dialog {
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--background-color);

    /* start and end state */
    /* anchored to the thumbnail */
    /* match the thumbnail state */
    position-anchor: --a;
    width: auto;
    height: auto;
    inset: anchor(inside);
    visibility: hidden;
    border: var(--photo-border-size) solid var(--background-color);
    border-radius: var(--photo-border-radius);

    max-width: none;
    max-height: none;

    transition-property: inset, visibility, overlay, border, border-radius;
    transition-duration: var(--dialog-animation-duration);
    transition-timing-function: var(--dialog-animation-easing);
    transition-behavior: allow-discrete;
}

.photo-dialog[open] {
    /* open state */
    --p: 40px;
    --max-w: calc(80vw - var(--p));
    --max-h: calc(80vh - var(--p));
    --width: calc(min(var(--max-w), var(--max-h) * var(--w) / var(--h)) + var(--p));
    --height: calc(min(var(--max-h), var(--max-w) * var(--h) / var(--w)) + var(--p));
    inset: calc(50% - var(--height) / 2) calc(50% - var(--width) / 2);
    visibility: visible;

    border: calc(var(--photo-border-size) * 2) solid var(--background-color);
    border-radius: calc(var(--photo-border-radius) * 2);
}

/* end state (closed) */
.photo-dialog::backdrop {
    background-color: rgb(from var(--background-color) r g b / 30%);
    backdrop-filter: blur(5px);

    opacity: 0;
    transition: opacity;
    transition-duration: var(--dialog-animation-duration);
    transition-timing-function: var(--dialog-animation-easing);
}

/* middle state (open) */
.photo-dialog[open]::backdrop {
    opacity: 1;
}

/* start state (closed) */
@starting-style {
    .photo-dialog[open]::backdrop {
        opacity: 0;
    }
}






















