:root {
    /* gaps */
    --button-group-gap: 0.5rem;
    --layout-gap-medium: 1.5rem;
    --layout-gap-small: 1rem;
}

.top-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--layout-gap-medium);
}

@media (max-width: 37.5rem) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header-details .button-group {
    margin-top: 8px;
}

.image-slides {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.image-slides > button {
    place-self: center;
}

.images {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    place-items: center;
    gap: var(--layout-gap-small);
    padding: var(--layout-gap-small);
    scroll-padding-inline: var(--layout-gap-small);
}

@media (prefers-reduced-motion: no-preference) {
    .images {
        scroll-behavior: smooth;
    }
}

.images img {
    scroll-snap-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 20px;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--layout-gap-medium);
    padding-block: 12px;
}

.button-group {
    display: flex;
    gap: var(--button-group-gap);
}

.section {
    display: grid;
    gap: var(--layout-gap-small);
}





