.neu {
    --d: 6px;
    --i: .07; /* this is a factor to increase the lightness of the highlight and the darkness of the shadow */
    --b: 1.5; /* factor to influence the blur */

    /* The following variables are each box shadows.
       They are functions of --d, --press, --b, --background-color, --i.
       We're using oklch to manipulate the lightness of the highlights and shadows.
    */
    --highlight-outset: calc(var(--d) * -1 * (1 - var(--press)))
                        calc(var(--d) * -1 * (1 - var(--press)))
                        calc(var(--d) * var(--b) * (1 - var(--press)))
                        oklch(from var(--background-color) calc(l + var(--i)) c h / calc(1 - var(--press)));

    --shadow-outset: calc(var(--d) * (1 - var(--press)))
                     calc(var(--d) * (1 - var(--press)))
                     calc(var(--d) * var(--b) * (1 - var(--press)))
                     oklch(from var(--background-color) calc(l - var(--i)) c h / calc(1 - var(--press)));

    --highlight-inset: inset
                       calc(var(--d) * -1 * var(--press))
                       calc(var(--d) * -1 * var(--press))
                       calc(var(--d) * var(--b) * var(--press))
                       oklch(from var(--background-color) calc(l + var(--i)) c h / var(--press));

    --shadow-inset: inset
                    calc(var(--d) * var(--press))
                    calc(var(--d) * var(--press))
                    calc(var(--d) * var(--b) * var(--press))
                    oklch(from var(--background-color) calc(l - var(--i)) c h / var(--press));

    box-shadow: var(--highlight-outset),
                var(--shadow-outset),
                var(--highlight-inset),
                var(--shadow-inset);
}

/* this property will track the pressed state of the button with 0 being not pressed and 1 being pressed */
@property --press {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}






