.neu {
    --d: 3px; /* this is the distance from the border that the shadow will go */
    --i: .07; /* this is a factor to increase the lightness of the highlight and the darkness of the shadow */
    --b: 1.5; /* factor to influence the blur */

    /* The following variables are each box shadows.
       They are functions of --d, --press, --b, --background-color, --i.
       We're using oklch to manipulate the lightness of the highlights and shadows.
    */
    --highlight-outset: calc(var(--d) * -1 * (1 - var(--press)))
                        calc(var(--d) * -1 * (1 - var(--press)))
                        calc(var(--d) * var(--b) * (1 - var(--press)))
                        oklch(from var(--background-color) calc(l + var(--i)) c h / calc(1 - var(--press)));

    --shadow-outset: calc(var(--d) * (1 - var(--press)))
                     calc(var(--d) * (1 - var(--press)))
                     calc(var(--d) * var(--b) * (1 - var(--press)))
                     oklch(from var(--background-color) calc(l - var(--i)) c h / calc(1 - var(--press)));

    --highlight-inset: inset
                       calc(var(--d) * -1 * var(--press))
                       calc(var(--d) * -1 * var(--press))
                       calc(var(--d) * var(--b) * var(--press))
                       oklch(from var(--background-color) calc(l + var(--i)) c h / var(--press));

    --shadow-inset: inset
                    calc(var(--d) * var(--press))
                    calc(var(--d) * var(--press))
                    calc(var(--d) * var(--b) * var(--press))
                    oklch(from var(--background-color) calc(l - var(--i)) c h / var(--press));

    box-shadow: var(--highlight-outset),
                var(--shadow-outset),
                var(--highlight-inset),
                var(--shadow-inset);
}

.neu--pressed {
    --press: 1;
}

/* this property will track the pressed state of the button with 0 being not pressed and 1 being pressed */
@property --press {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.neu--round {
    /* we're going to apply a linear gradient to the background of the element */
    /* when pressed, swap the colors */
    /* this class covers both the convex and concave state */

    /*
        - top left will interpolate between lighter-than-background and darker-than-background, depending on --press
        - opacity will not change
        - top left: when not pressed (--press = 0), this part is highlighted
        - top left: when pressed (--press = 1), this part is shadowed
        - bottom right: when not pressed (--press = 0), this part is shadowed
        - bottom right: when pressed (--press = 1), this part is highlighted
        formula top left color: tlc(l, i, p) = (l - i) + (1 - p)(2i)
        formula bottom right color: brc(l, i, p) = (l - i) + p(2i)
    */

    --top-left-color: oklch(from var(--background-color) calc(l - var(--i) + (1 - var(--press)) * 2 * var(--i)) c h);
    --bottom-right-color: oklch(from var(--background-color) calc(l - var(--i) + var(--press) * 2 * var(--i)) c h);

    background-image: linear-gradient(145deg, var(--top-left-color), var(--bottom-right-color));
}





