:root {
}




.page {
    box-shadow: 0 0 15px 3px black;
}

#test-button {
    --w: 200px;
    --h: 100px;
    --d-ratio: .05;
    --d: calc(var(--d-ratio) * max(var(--w), var(--h))); /* this makes the highlight and shadow size proportional to the element size (width) */
    --i: .2; /* this is a factor to increase the lightness of the highlight and the darkness of the shadow */
    --b: 1.5; /* factor to influence the blur */

    width: var(--w);
    height: var(--h);
    justify-self: center;

    /* we're using oklch to manipulate the lightness of the background color directly */
    --highlight: calc(var(--d))
                 calc(var(--d))
                 calc(var(--d) * var(--b))
                 oklch(from var(--background-color) calc(l * (1 - var(--i))) c h);

    --shadow: calc(-1 * var(--d))
              calc(-1 * var(--d))
              calc(var(--d) * var(--b))
              oklch(from var(--background-color) calc(l * (1 + var(--i))) c h);

    box-shadow: var(--highlight),
                var(--shadow),
                inset 0 0 0 transparent,
                inset 0 0 0 transparent;

    border-radius: 20px;

    text-align: center;
    cursor: pointer;

    transition: box-shadow 150ms,
                scale 150ms;
}

#test-button:hover {
    scale: 1.05;
}

#test-button:active {
    box-shadow: 0 0 0 transparent,
                0 0 0 transparent,
                inset var(--highlight),
                inset var(--shadow);
    scale: 0.95;
}











