.pill-tabs {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.pill {
    padding: 0.5rem 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition-property: --press, scale;
    transition-duration: var(--click-duration);
    transition-timing-function: var(--click-easing);
    display: block;
}

.pill:hover {
    scale: 1.1;
}

.pill:active {
    --press: 1;
    scale: 0.9;
}

/* make the current tab stand out from the rest */
.pill.current {
    color: gold;
}

