.pill-tabs {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.pill {
    padding: 0.5rem 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition-property: --press, scale;
    transition-duration: var(--click-duration);
    transition-timing-function: var(--click-easing);
    display: block;
}

.pill:hover:not(.current) {
    scale: 1.1;
}

.pill:active:not(.current) {
    --press: 1;
    scale: 0.9;
}

/* make the current tab stand out from the rest */
.pill.current {
    --press: 1;
}

.tab-sections-container {
    position: relative;
    overflow: hidden;
}

.tab-section {
    display: none;
    border-radius: 30px;
    padding: var(--layout-gap-small);
    height: 400px;
    overflow: auto;
}

.tab-section.current {
    display: block;
}

.tab-section.previous {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.tab-section.current.right-to-left {
    animation: rightToLeftEnter 300ms;
}

.tab-section.current.left-to-right {
    animation: leftToRightEnter 300ms;
}

.tab-section.previous.right-to-left {
    animation: rightToLeftExit 300ms forwards;
}

.tab-section.previous.left-to-right {
    animation: leftToRightExit 300ms forwards;
}

@keyframes rightToLeftEnter {
    from {
        transform: translateX(calc(100% + var(--layout-gap-small)));
    }
}

@keyframes leftToRightEnter {
    from {
        transform: translateX(calc(-100% - var(--layout-gap-small)));
    }
}

@keyframes rightToLeftExit {
    to {
        transform: translateX(calc(-100% - var(--layout-gap-small)));
        display: none;
    }
}

@keyframes leftToRightExit {
    to {
        transform: translateX(calc(100% + var(--layout-gap-small)));
        display: none;
    }
}




